.home_container{
    row-gap: 7rem;
}
.home_content{
    grid-template-columns: 116px repeat(2,1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home_social{
    display: grid;
    grid-template-columns: max-content;
    row-gap:1rem;
}

.home_social_icon{
    color: var(--color-light);
    font-size:1.25rem;
    transition: .3s;
}
.home_social_icon:hover{
    color: var(--color-primary);
}
.home_title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}
.home_subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    padding-left: 5.4rem;
    margin-bottom: var(--mb-1);
}
.home_subtitle::before{
    position: absolute;
    content: '';
    width: 70px;
    height: 1px;
    background-color:var(--color-light);
    left: 0;
    top: 1rem;
}

.home_description{
    max-width: 400px;
    margin-bottom: var(--mb-3);

}
.home_img{
    background: url(../../assets/image/portf.jpg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(10, 21, 148, 0.3);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile_animate 8s ease-in-out infinite 1s;
}
@keyframes profile_animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.home_alt{
    display: flex;
    align-items: center;
}
.home_scroll{
    margin-left: 9.25rem;
}
.wheel{
    animation: scroll 2s ease infinite;
}

@keyframes scroll{
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(3.75rem);
    }
}
.home_scroll-name{
    color: var(--color-light);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home_scroll_arrow{
    font-size:1.25rem;
}
/*==============BREAKPOINTS===============================*/
/*for large devices*/
@media screen and (max-width: 992px) {
   .home_content{
    grid-template-columns:100px repeat(2,1fr);
    column-gap: 1.25rem;
   }
   .home_subtitle{
    margin-bottom: var(--mb-1);
   }
  .home_subtitle::before{
    width: 42px;
    top: 0.8rem;
    padding-left: 2rem;
  }
  .home_description{
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
  .home_img{
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgba(11, 82, 140, 0.537);
  }
  .home_scroll{
    margin-left: 7.5rem;
  }
  }
  
  /*for medium devices*/
  @media screen and (max-width: 768px) {
    .home_content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }
    .home_img{
        order: initial;
        justify-self: initial;
        width: 200px;
        height: 200px;
        box-shadow: inset 0 0 0 9px rgba(10, 26, 199, 0.537);
    }
    .home_data{
        grid-column: 1/3; 
        justify-items:center;   
    }
    .home_scroll{
        display: none;
    }

  }
  
  /*for small  devices*/
  @media screen and (max-width: 350px) {
    .home_img{
        width: 180px;
        height: 180px;
    }
    
  
  
  }