.footer{
    background-color: var(--color-primary);   
}

.footer_container{
    padding: 2rem 0 2rem;
}
.nav_logo_icon{
    text-align: center;
    margin-bottom: var(--mb-2);
    color: var(--color-light);
    font-size: 2rem;
    display: block;

}

.footer_link{
    color: var(--color-light);
}

.footer_title{
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer_link:hover{
    color: var(--color-dark);
}

.footer_list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.125rem;   
}

.footer_social_icon{
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 1.5rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
    transition: .3s;
}


.footer_social_icon:hover{
    color: var(--color-primary);
}

.footer_copy{
    display: block;
    margin-top: 1.5rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--color-dark);
}

/*==============BREAKPOINTS===============================*/
/*for large devices*/
@media screen and (max-width: 992px) {
   .footer_social_icon{
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;

   }
  
  }
  