button{
    padding: 0.60rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    color: #fff;
    
}

button:hover{
    padding: 0.60rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    transform: scale(1);
}
.work_filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.work_item{
    color: var(--color-light);
    padding: 0.60rem 0.75rem;
    background-color: var(--color-primary);
    text-transform: capitalize;
    cursor: pointer;
}



.work_container{
    grid-template-columns: repeat(2, max-content);
    gap: 3rem;
    justify-content: center;
}

.work_card{
    background-color: var(--color-primary);
    border-radius: 1rem;
    transition: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.work_img{
    width:300px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.work_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work_description{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}
.work_button{
    color: var(--color-light);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    
}

.work_button-icon{
    font-size: 1rem;
    transition: 0.4s;
    margin-bottom: var(--mb-0-5);
    color: var(--color-light);
    
}

.work_button:hover .work_button-icon{
    transform: translateX(0.25rem);
}

/* active work*/

.active-work{
    background-color: var(--color-primary);
    padding: 0.60rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;   
}

/*==============BREAKPOINTS===============================*/
/*for large devices*/
@media screen and (max-width: 992px) {
    .work_container{
        gap: 1.25rem;
    }

    .work_card{
        padding: 1rem;
    }
  .work_img{
    margin-bottom: 0.75rem;
  }
  .work_title{
    margin-bottom: 0.25rem;
  }
  }

  /*for medium devices*/
  @media screen and (max-width: 768px) {
    .work_container{
        grid-template-columns: max-content;
    }
  }
  
  /*for medium devices*/
  @media screen and (max-width: 576px) {
    .work_container{
        grid-template-columns: 1fr;
    }

    .work_img{
        width: 100%;
    }
  }
  
  /*for small  devices*/
  @media screen and (max-width: 350px) {
    .work_item{
        font-size: var(--small-font-size);
    }

    .work_filter{
        column-gap: 0.25rem;
    }
  }